{
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    },
    {
      "files": "wrangler.jsonc",
      "options": {
        "trailingComma": "none"
      }
    }
  ],
  "proseWrap": "always"
}
