@import "tailwindcss";

@theme {
  --font-mono: "Geist Mono", monospace;
  --font-sans: "Geist Sans", sans-serif;
  --font-title: "Permanent Marker", "cursive";
  --font-emoji: "Noto Emoji Variable", sans-serif;
  /* From https://modernfontstacks.com/ */
  --font-old-style:
    "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052, serif;
}
