---
import Link from "../components/link.astro";
import Logo from "../components/logo.astro";
import Shell from "../layouts/shell.astro";
---

<Shell title="Page not found">
  <Logo
    class="logo-override mx-auto mt-16 w-fit rotate-90 text-rose-600"
    data-variant="xl"
  />
  <h1 class="mt-8 text-center font-mono text-4xl text-zinc-300">
    Page not found!
  </h1>
  <Link
    class="mt-6 block text-center text-2xl tracking-widest"
    data-variant="accent"
    href="/">Return home</Link
  >
</Shell>
